<div class="container">
 <div>
  <p></p>
  <p>VIVERO DE OTOÑO</p>
  <hr>
 <div class="div_superior col-6">
  
  <img src="../../assets/forest-3804001_1280.jpg" alt=""/> 
  <hr >
  <p></p>
<div class="row "><!--[if IE]><![endif]-->
<table class="table">
  <thead>
    <tr>
      <th class=" ">#</th>
          <th class=" ">Nombre Común</th>
          <th class=" ">Tipo</th>
          <th class=" ">Clima</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let pla of plantas">
      <th scope="row" class="th">{{pla.id}}</th>
      <td class="  ">{{ pla.nombre_comun}} </td>
      <td class=" ">{{ pla.tipo}} </td>
      <td class=" ">{{ pla.clima}} </td>
    </tr>

  </tbody>
</table>
</div>
<div>
   <p>Total de plantas de interiores: {{countInt}} </p> 
   <p>Total de plantas de Exteriores: {{countExt}}</p>
</div>
<div><footer>Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</footer></div>
</div>
</div>

</div>
